* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

div .navi {
  position: fixed;
  z-index: 10000;
  
  display: flex;

  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: whitesmoke;
  color: #fff;
  box-shadow: 3px 3px 3px 3px rgb(232, 238, 236);

  padding: 10px;

}

div .logo {
  display: flex-start;

  font-size: 22px;
  text-transform: uppercase;
  
}

div .Nav-links {
  justify-content: center;
  margin: 40;
  padding: 10px;
  
}

div .Nav-links a {
  font-size: 14px;
  font-weight: normal;
  
}

div .Nav-links a:hover {
  border-bottom: 1px solid #fff;
}

@media all and (max-width: 300px) {
  body {
    display: none;
  }
}

div .lev1 {
  margin: 50px 50px 50px 50px;
  background-image: url("images/cubes.png");
  background-size: 80px 80px;
  border: 0px;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
}

div .mtex {
  width: 50%;
  justify-content: center;
  padding: 90px;
}

div .mtex a {
  display: inline-block;
  border: 1px solid #e1e1e1;
  background-color: white;
  font-family: Raleway;
  font-weight: 700;
  color: #134cee;
  padding: 10px 30px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

div .mtex a:hover {
  background-color: #134cee;
  color: white;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.mtex h1 {
  font-size: 65px;
  display: flex;
}

.mtex p {
  font-size: 18px;
  padding: 0px;
}

.mtex img {
  justify-content: center;
  width: 100%;
}

div .lev2 {
  margin: 100px 150px 0px 150px;
  justify-content: center;
  text-align: center;

  box-sizing: content-box;
  box-shadow: 3px 3px 10px 10px rgb(232, 238, 236);
  

  border-radius: 25px;
  border: 1px solid #c3c4c2;
  padding: 00px;
  width: 1000px;
  height: 400px;
}

div .lev2 h1 {
  margin: 50px 0px 0px 0px;
  font-size: 30px;
  text-decoration: underline;
}

div .lev2 p {
  margin: 40px 100px 50px 100px;
  font-size: 17px;
  padding: 0px;
  justify-content: center;
}

div .fea {
  background-color: #e2e2e2;
  box-shadow: 3px 3px 10px 10px rgb(236, 236, 236);
  justify-content: center;
  text-align: center;
  margin: 150px;
  padding: 50px;

  border-radius: 25px;
  border: 1px solid #c3c4c2;

  width: 1000px;
  height: 400px;
}

div .fea h1 {
  font-size: 30px;
  text-decoration: underline;
  justify-content: space-evenly;
}

div .card {
  display: flex ;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  margin: 20px 20px 20px 20px;
  padding: 10px;
  color: white;
  font-size: 18px;
  background-color: rgb(67, 58, 204);
}



div .card img {
  height: 35px;
  width: 35px;
}

div .image-back {
  width: 70px;
  height: 70px;
  background: hsla(0, 0%, 100%, 0.4);
  border-radius: 50%;
  margin: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

div.image-back:after {
  width: 90px;
  height: 90px;
  content: "";
  position: absolute;
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 50%;
 
}





div .all {
  margin: 50px 150px 50px 150px;
  box-shadow: 3px 3px 10px 10px rgb(232, 238, 236);
  border-radius: 25px;
  border: 1px solid #c3c4c2;
}

.all p {
  font-size: 16px;
}

div .all h2 {
  padding: 25px;
  font-size: 35px;
  text-decoration: underline;
}

div .health {
  margin: 40px 40px 40px 40px;
  justify-content: center;
  display: flex;
  align-items: center;
}

div .health text {
  justify-content: center;
  padding: 50px;
}

div .health h1 {
  font-size: 25px;
}

div .banking {
  margin: 20px 40px 40px 40px;
  display: flex;
  padding: 30px;
  align-items: center;
}

div .banking text {
  justify-content: center;
  padding: 50px;
}

div .banking h1 {
  font-size: 25px;
}

div .insurance {
  margin: 20px 40px 40px 40px;
  display: flex;
  padding: 30px;
  align-items: center;
}

div .insurance text {
  justify-content: center;
  padding: 50px;
}

div .insurance h1 {
  font-size: 25px;
}

div .retail {
  margin: 20px 40px 40px 40px;
  display: flex;
  padding: 30px;
  align-items: center;
}

div .retail text {
  justify-content: center;
  padding: 50px;
}

div .retail h1 {
  font-size: 25px;
}

div .utilities {
  margin: 20px 40px 40px 40px;
  display: flex;
  padding: 30px;
  align-items: center;
}

div .utilities text {
  justify-content: center;
  padding: 50px;
}

div .utilities h1 {
  font-size: 25px;
}

div .logistics {
  margin: 20px 40px 40px 40px;
  display: flex;
  padding: 30px;
  align-items: center;
}

div .logistics text {
  justify-content: center;
  padding: 50px;
}

div .logistics h1 {
  font-size: 25px;
}

div .financial {
  margin: 20px 40px 40px 40px;
  display: flex;
  padding: 30px;
  align-items: center;
}

div .financial text {
  justify-content: center;
  padding: 50px;
}

div .financial h1 {
  font-size: 25px;
}

div .atex {
  text-align: center;
  margin: 100px;
}

.atex button {
  height: 46px;
  background: #134cee;
  border-radius: 0 10px 10px 0;
  color: #fff;
  padding: 5px 30px;
  box-shadow: none;
  border: 1px solid #134cee;
  outline: none;
  -webkit-transition: all 0.24s ease;
  transition: all 0.24s ease;
}

div .atex input {
  height: 45px;
  border: 1px solid #d1d0d0;
  width: 250px;
  background: none;
  border-radius: 10px 0 0 10px;
  font-size: 0.8rem;
  padding: 10px 15px;
  outline: none;
}
.bu {
  align-items: center;
}
.know_more-btn {
  display: inline-block;
  border: 1px solid #e1e1e1;
  background-color: white;
  font-family: Raleway;
  font-weight: 700;
  color: #134cee;
  padding: 10px 30px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.know_more-btn:hover {
  background-color: #134cee;
  color: white;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

div .atex h1 {
  font-size: 25px;
}

div .atex p {
  text-align: center;
  font-size: 15px;
}

div .footer {
  text-align: center;
  padding: 10px;
  background-color: #fdfaf2;
}

div .footer p {
  padding: 10px;
  font-size: 15px;
}

div .up {
  text-align: center;
  margin: 40px 200px 0px 200px;
  padding: 20px;
}

div .up h1 {
  color: #134cee;
}

div .up p {
  font-size: 16px;
}

div .low p {
  font-size: 16px;
}

div .low li {
  font-size: 16px;
}

div .low {
  background-color: rgb(240, 241, 243);
  padding: 40px;
}
div .lower {
  margin: 40px 200px 0px 200px;
  list-style: bullets;
}

div .low h1 {
  font-size: 20px;
}
div .low h2 {
  font-size: 20px;
}
div .low h3 {
  font-size: 20px;
}
div .low h4 {
  font-size: 20px;
}

div .low ul {
  padding: 20px;
}
