* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

div .navi {
  display: flex;
  justify-content: center;
  margin: 10;
  justify-content: space-between;
  min-height: 10vh;
  padding :10px;
  height: 75px;
  
  background-color: #fcfbf9 ;
  color: #fff;
}



div  .logo {
  display : flex-start;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}  

div .Nav-links {
  justify-content: center;
  margin: 40;
  padding: 10px;  
}


div .Nav-links a {
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
}

div .Nav-links a:hover {
  border-bottom: 1px solid #fff;
}

@media all and (max-width: 300px) {
  body {
    display: none;
  }
}

div .lev1 {
  background-image: url("images/cubes.png");
  background-size: 80px 80px;
  border: 0px;
  display: flex;
  flex-flow: row nowrap;
  padding: 40px;

}

div .mtex {
  width: 50%;
  justify-content: center;
  padding: 90px;
}



.mtex h1 {
font-size: 65px;
display: flex;
}

.mtex p {
  font-size: 18px;
  padding: 0px;
}

.mtex img {
  
  justify-content: center;
  width: 100%;
}

div .bu button {
  padding: 10px;
  background-color: rgb(248, 247, 233);
}

div .lev2 {
  margin: 100px;
  justify-content: center;
  text-align: center;
  padding: 30px;
background-color: #faf9f0;
  box-sizing: content-box;
  box-shadow: 2px 2px 5px 5px rgb(232, 238, 236);
  border: sloid red;

}

div .lev2 h1 {
  font-size: 30px;
  text-decoration: underline;
}

div .lev2 p {
  margin: 40px;
  font-size: 17px;
  padding: 0px;
  justify-content: center;
}

div .fea {
  background-color: #faf9f0;
  box-shadow: 2px 2px 5px 5px rgb(232, 238, 236);
  justify-content: center;
  text-align: center;
  margin: 100px;
  padding: 50px;
  
}

div .fea h1 {
  font-size: 30px;
  text-decoration: underline;
  justify-content: space-evenly;
}

div .card {
  box-sizing: border-box;  
  justify-content: center;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(214, 194, 180)
}

div .all {
  margin: 100px;
  box-shadow: 2px 2px 5px 5px rgb(232, 238, 236);
}

div .health {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 30px;
}

div .health text {
  justify-content: center;
  padding: 50px;
}

div .health h1 {
font-size: 25px;
}

div .banking {
  display:flex;
  padding: 30px;
  align-items: center;
}

div .banking text {
  justify-content: center;
  padding: 50px;
}

div .banking h1 {
font-size: 25px;
}

div .insurance {
  display: flex;
  padding: 30px;
  align-items: center;
}

div .insurance text {
  justify-content: center;
  padding: 50px;
}

div .insurance h1 {
font-size: 25px;
}

div .retail {
  display: flex;
  padding: 30px;
  align-items: center;
}

div .retail text {
  justify-content: center;
  padding: 50px;
}

div .retail h1 {
font-size: 25px;
}


div .utilities {
  display: flex;
  padding: 30px;
  align-items: center;
}

div .utilities text {
  justify-content: center;
  padding: 50px;
}

div .utilities h1 {
font-size: 25px;
}


div .logistics {
  display: flex;
  padding: 30px;
  align-items: center;
}

div .logistics text {
  justify-content: center;
  padding: 50px;
}

div .logistics h1 {
font-size: 25px;
}


div .financial {
  display: flex;
  padding: 30px;
  align-items: center;
}

div .financial text {
  justify-content: center;
  padding: 50px;
}

div .financial h1 {
font-size: 25px;
}

div .atex {
 text-align: center;
 margin: 100px;
}


div .atex h1 {
  font-size: 25px;
}

div .atex p {
  text-align: center;
  font-size: 15px;
}

div .footer {
  text-align: center;
  padding : 10px;
  background-color:  #fdfaf2 ;
}

div .footer p {
  padding: 10px;
  font-size: 15px;
}

div .up {
  text-align: center;
  margin: 0px 200px 0px 200px;
  padding: 20px
}



div .low{ 
  background-color: rgb(240, 241, 243);
  padding: 40px;

}
div .lower {
  margin :40px 200px 0px 200px;
  list-style: bullets;

}